# gitignore template for ecu.test workspaces - by tracetronic https://tracetronic.com
 all directories are related to the default directories, please adapt the .gitignore if you use customized directories

# Dynamic workspace settings
#   * We don't recommend to ignore the .workspace directory, because of important 
#     * project specific settings
#     * local user settings
.workspace/ETdrive.xml

*.logs
.secrets
.passwords
.env
*.exe
*.msi
*.zip
*.7z

# Exclude default and custom temporary directories
Backup_*

# Python bytecode and cache files
__pycache__/
*.py[cod]
